<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>按钮旋转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF05E1991F66C44D00F619EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF05E1B21F66C44D00F619EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF05E1BD1F66C44D00F619EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
